.main {
  height: 80vh;
  width: 100vw;
  margin: 0 auto;
  padding: 2rem 0;
}

.ctaWrapper {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.ctaWrapper p {
  line-height: 2.5rem;
}

.ctaImgWrapper {
  width: 80%;
  margin: 2rem auto;
}

.ctaButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctaButton {
  border: none;
  border-radius: 5px;
  width: 13rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.25rem;
  margin-top: 3rem;
  box-shadow: 0 2px 5px 1px gray;
}

@media screen and (min-width: 690px) {
  .ctaWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .ctaText {
    width: 300px;
  }
  .ctaImgWrapper {
    width: 50%;
    margin: 0;
  }
}
