.headerWrapper {
  width: 100vw;
  background-color: var(--primary-color);
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 5px 1px lightgray;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 56px;
  font-weight: lighter;
  color: var(--secondary-color)
}
